node_modules/
dist/
*.log

# AI
CLAUDE.md
AGENTS.md
GEMINI.md

oh-my-openagent.json
opencode.json

handoff.md
plan.md

.ai
.agents
.claude
.cursor
.cursorrules
.harness
.omc
.omx
.opencode
.sisyphus
docs

clone.sh
delete.sh

# build
output/
